body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#f4f7f9;
  color:#222;
}
header{
  background:#0b5d3b;
  color:white;
  padding:20px;
}
nav a{
  color:white;
  text-decoration:none;
  margin-right:18px;
  font-weight:bold;
}
.hero{
  background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
  url('https://images.unsplash.com/photo-1529156069898-49953e39b3ac?q=80&w=1200');
  background-size:cover;
  color:white;
  padding:100px 20px;
  text-align:center;
}
.container{
  width:90%;
  max-width:1100px;
  margin:auto;
  padding:40px 0;
}
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}
.card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,.1);
}
footer{
  background:#123;
  color:white;
  text-align:center;
  padding:20px;
  margin-top:40px;
}
.btn{
  background:#ff9800;
  color:white;
  padding:12px 24px;
  border-radius:6px;
  text-decoration:none;
  display:inline-block;
  margin-top:15px;
}
.page-title{
  text-align:center;
  padding:50px 20px;
  background:#e9f5ef;
}
form input, form textarea{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border:1px solid #ccc;
  border-radius:6px;
}
form button{
  background:#0b5d3b;
  color:white;
  border:none;
  padding:12px 20px;
  border-radius:6px;
  cursor:pointer;
}

.gallery-img{
  width: 100%;
  max-width: 600px;
  height: auto;
} 
.community-img{
  width:300px;
  margin: 0 ;
}
.logo-container{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo{
    width:80px;
    height:80px;
    border-radius:50%;
}
  
